<!DOCTYPE html>
<html>
<head>
<title>Partner Tracking</title>
</head>
<body>

<h2>Sending Live Location...</h2>

<script>

function sendLocation(position){

let lat = position.coords.latitude
let lng = position.coords.longitude

fetch("/update_location",{
method:"POST",
headers:{
"Content-Type":"application/x-www-form-urlencoded"
},
body:`lat=${lat}&lng=${lng}`
})

}

function trackLocation(){
navigator.geolocation.watchPosition(sendLocation)
}

trackLocation()

</script>

</body>
</html>